html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

.hero {
  height: 100vh;
  position: relative;
  background-color: aqua;
  overflow: hidden;
}

.image-layer {
  position: relative;
  z-index: 1;
  height: 100%;
  background-color: transparent;
}

.data-layer {
  position: absolute;
  z-index: 3;
  overflow: hidden;
}

#base-canvas {
  border: 1px solid grey;
}
